/* -------------------------------------------------------------------------- */
/* RESPONSIVE MEDIA QUERIES */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* SMALL BREAKPOINT (Landscape Phones and Up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 576px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 0.5rem;
  }
}

/* -------------------------------------------------------------------------- */
/* MEDIUM BREAKPOINT (Tablets 768px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 768px) {
  .ui-btn {
    display: inline-flex;
    min-width: 175px;
  }

  /* TOPBAR ***************************************************************** */
  .topbar {
    .containerish {
      max-width: 100% !important;
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: 1fr 1fr;
      padding: 0.2rem 0;

      .col-left {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      // .col-mid {
      //   display: none;
      // }
      .col-right {
        grid-row: 1;
        grid-column: 2;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

  /* BRANDBAR *************************************************************** */
  .brandbar {
    .containerish {
      // width: 95%;
      max-width: 100% !important;
      margin: 0 auto;
      height: auto;
      padding: 20px 0;
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-gap: 1rem;
      align-items: center;


      .col-right {
        display: flex;
        align-items: center;
        justify-content: end;

        .brandbar-item:not(:last-child) {
          margin-right: 1rem;
        }
      }
    }
  }

  /* NAVBAR ***************************************************************** */

  /* HERO ******************************************************************* */
  /* COOLSCULPTING EVENT **************************************************** */
  /* ABOUT US *************************************************************** */
  /* COOLSCULPTING ********************************************************** */
  /* JEUVEAU **************************************************************** */
  /* AESTHETIC SERVICES ***************************************************** */
  /* FEATURED SERVICES ****************************************************** */
  /* CONDITIONS WE TREAT **************************************************** */
  /* BIO ******************************************************************** */
  /* TESTIMONIALS *********************************************************** */
  /* NEWSLETTER ************************************************************* */
  /* FOOTER ***************************************************************** */
}

/* -------------------------------------------------------------------------- */
/* LARGE BREAKPOINT (Desktops 992px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 992px) {
  .ui-btn {
    display: inline-flex;
    width: auto;
    padding: 0.8rem 0.5rem;
    width: 175px;
  }

  .dropdown:hover>.dropdown-menu {
    display: block;
  }

  /* TOPBAR ***************************************************************** */
  .topbar {
    .containerish {
      grid-template-columns: max-content 1fr max-content;

      .col-left {
        grid-row: 1;
        grid-column: 1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
      }

      .col-mid {
        grid-column: 2;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .col-right {
        grid-row: 1;
        grid-column: 3;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }

  /* BRANDBAR *************************************************************** */
  .brandbar {
    .containerish {
      width: 95%;
      margin: 0 auto;
      height: auto;
      padding: 20px 0;
      display: grid;
      grid-template-columns: max-content 1fr;
      grid-gap: 1rem;
      align-items: center;

      .col-right {
        display: flex;
        align-items: center;
        justify-content: end;

        .brandbar-item:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }
  }

  /* NAVBAR ***************************************************************** */
  .navbar-wrapper {
    background: $color-extra-light;
    position: relative;

    .containerish {
      max-width: 100%;
      padding: 0;
      display: grid;
      grid-template-columns: 1fr 170px;
      grid-gap: 2rem;
      align-items: center;

      .col-left {
        padding-left: 3%;
      }

    }
  }

  /* HERO ******************************************************************* */
  .hero {

    .carousel-indicators {
      position: absolute;
      right: 0;
      bottom: 10px;
      // left: 0;
      z-index: 15;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
      justify-content: flex-end;
      padding-left: 0;
      margin-right: 2%;
      // margin-left: 15%;
      list-style: none;
      // background: red;
    }

    // .carousel {}

    .carousel-item {

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparent;
      }

      .slide {
        display: flex;
        align-items: center;
        height: 600px;
      }
    }
  }

  /* COOLSCULPTING EVENT **************************************************** */
  /* ABOUT US *************************************************************** */
  /* COOLSCULPTING ********************************************************** */
  /* JEUVEAU **************************************************************** */
  /* AESTHETIC SERVICES ***************************************************** */
  /* FEATURED SERVICES ****************************************************** */
  /* CONDITIONS WE TREAT **************************************************** */
  /* BIO ******************************************************************** */
  /* TESTIMONIALS *********************************************************** */
  /* NEWSLETTER ************************************************************* */
  /* FOOTER ***************************************************************** */
}

/* -------------------------------------------------------------------------- */
/* EXTRA LARGE BREAKPOINT (Large Desktops 1200px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1200px) {

  /* TOPBAR ******************************************************* */

  /* TOPBAR ******************************************************* */
  .topbar {
    .containerish {
      width: 95%;
      max-width: 1200px;
      margin: 0 auto;
      height: auto;
      padding: 0;
      display: grid;
      grid-gap: 1rem;
      align-items: center;

      .col-left {
        display: flex;
        justify-content: center;
        align-items: center;
        display: block;

        .social-wrapper {
          margin-right: 1rem;
          display: inline-block;

          i {
            margin-right: .5rem;
          }
        }
      }

      .col-center {
        text-align: center;
        align-items: center;
        display: block;
        grid-column: 2 / 3;
        grid-row: 1;

        p {
          margin: 0;
        }
      }

      .col-right {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        grid-column: 3 / 4;
        grid-row: 1;

        .topbar-nav {
          list-style-type: none;
          padding: 0;
          margin: 0;

          a: {
            margin-right: 1rem;
          }
        }
      }
    }
  }

  /* NAVBAR ***************************************************************** */
  .nav-item {
    margin-right: 1rem;
  }

  /* HERO ******************************************************************* */
  /* COOLSCULPTING EVENT **************************************************** */
  /* ABOUT US *************************************************************** */
  /* COOLSCULPTING ********************************************************** */
  /* JEUVEAU **************************************************************** */
  /* AESTHETIC SERVICES ***************************************************** */
  /* FEATURED SERVICES ****************************************************** */
  /* CONDITIONS WE TREAT **************************************************** */
  /* BIO ******************************************************************** */
  /* TESTIMONIALS *********************************************************** */
  /* NEWSLETTER ************************************************************* */
  /* FOOTER ***************************************************************** */
}

/* -------------------------------------------------------------------------- */
/* MACBOOK PRO 15" BREAKPOINT (Large Desktops 1400px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1400px) {

  /* HERO ******************************************************************* */
  .hero {
    .carousel-item {
      .slide {
        display: flex;
        align-items: center;
        height: 700px;
      }
    }
  }

  /* COOLSCULPTING EVENT **************************************************** */
  /* ABOUT US *************************************************************** */
  /* COOLSCULPTING ********************************************************** */
  /* JEUVEAU **************************************************************** */
  /* AESTHETIC SERVICES ***************************************************** */
  /* FEATURED SERVICES ****************************************************** */
  /* CONDITIONS WE TREAT **************************************************** */
  /* BIO ******************************************************************** */
  /* TESTIMONIALS *********************************************************** */
  /* NEWSLETTER ************************************************************* */
  /* FOOTER ***************************************************************** */
}

/* -------------------------------------------------------------------------- */
/* SUPER LARGE BREAKPOINT (IMAC STATUS 1900px and up) */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 1900px) {

  /* TOPBAR ***************************************************************** */
  /* HERO ******************************************************************* */
  .hero {
    .carousel-item {
      .slide {
        display: flex;
        align-items: center;
        height: 60vh;
      }
    }
  }

  /* COOLSCULPTING EVENT **************************************************** */
  /* ABOUT US *************************************************************** */
  /* COOLSCULPTING ********************************************************** */
  /* JEUVEAU **************************************************************** */
  /* AESTHETIC SERVICES ***************************************************** */
  /* FEATURED SERVICES ****************************************************** */
  /* CONDITIONS WE TREAT **************************************************** */
  /* BIO ******************************************************************** */
  /* TESTIMONIALS *********************************************************** */
  /* NEWSLETTER ************************************************************* */
  /* FOOTER ***************************************************************** */
}