/* -------------------------------------------------------------------------- */
/* SECTION STYLES */
/* -------------------------------------------------------------------------- */
.containerish {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: auto;
  padding: 0;
}

section {
  overflow: hidden;
}

/* -------------------------------------------------------------------------- */
/* HERO SECTION */
/* -------------------------------------------------------------------------- */
.hero {

  .carousel {
    .carousel-indicators li {
      position: relative;
      -ms-flex: 0 1 auto;
      flex: 0 1 auto;
      width: 15px;
      height: 15px;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: rgba(255, 255, 255, .7);
      border-radius: 50%;

      &.active {
        background-color: rgba($color-main, 1);
      }
    }
  }

  .carousel-item {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba($color-light, .9);
    }

    .slide {
      display: flex;
      align-items: center;
      height: 600px;

      &.slide-1 {
        background: url('../../img/hero-bg@2x.jpg') center / cover;
      }

      &.slide-2 {
        background: url('../../img/hero-bg@2x.jpg') center / cover;
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* COOLSCULPTING EVENT SECTION */
/* -------------------------------------------------------------------------- */
.event {
  background: url('../../img/event-bg@2x.jpg') center / cover;
  min-height: 300px;
  padding: 40px 20px;

  .containerish {
    display: grid;

    .section-info {
      text-align: center;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* ABOUT US SECTION */
/* -------------------------------------------------------------------------- */
.about {
  background: url('../../img/about-bg@2x.jpg') center / cover;
  padding: 40px 20px;

  .containerish {
    display: grid;

    .section-info {
      text-align: center;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* COOLSCULPTING SECTION */
/* -------------------------------------------------------------------------- */
.coolsculpting {
  background: url('../../img/coolsculpting-bg@2x.jpg') center / cover;
  min-height: 300px;
  padding: 40px 20px;

  .containerish {
    display: grid;

    .section-info {
      text-align: center;
    }
  }
}

/* -------------------------------------------------------------------------- */
/* JEUVEAU SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* AESTHETIC SERVICES SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* FEATURED SERVICES SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* CONDITIONS WE TREAT SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* BIO SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* TESTIMONIALS SECTION */
/* -------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------- */
/* NEWSLETTER SECTION */
/* -------------------------------------------------------------------------- */
.newsletter {
  background: $color-dark-accent;
  min-height: 200px;
  align-items: center;

  .containerish {
    padding: 40px 20px;
    display: grid;

    h3,
    h2,
    p {
      text-align: center;
    }

    p {
      margin-top: 0.5rem;
    }

    .form-control {
      margin-bottom: 0.5rem;
      border-radius: 0;
    }

    .form-control:last-child {
      margin-bottom: 0;
    }
  }
}