/* -------------------------------------------------------------------------- */
/* Typography */
/* -------------------------------------------------------------------------- */
@import "https://use.fontawesome.com/releases/v5.4.1/css/all.css";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i|Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i&display=swap');

$font-primary: 'Source Sans Pro',
sans-serif;
$font-secondary: 'Montserrat',
sans-serif;

// General Font Setup
// Headers
h1,
h2,
h3,
h4,
h5 h6 {
  margin: 0 !important;
  padding: 0 !important;
}

/* Primary Header */
h1 {
  font-family: $font-secondary;
  font-size: 3.125rem; // 50px
  line-height: 3.125rem;
  font-weight: 300;

  &.is-bold {
    font-weight: 700;
  }

  &.is-italic {
    font-style: italic;
  }
}

h2 {
  font-family: $font-secondary;
  font-size: 3.125rem; // 50px
  line-height: 3.125rem;
  font-weight: 300;

  &.is-bold {
    font-weight: 700;
  }

  &.is-italic {
    font-style: italic;
  }
}

h3 {
  font-family: $font-secondary;
  font-size: 1.875rem; // 30px
  line-height: 1.875rem;
  font-weight: 300;

  &.is-bold {
    font-weight: 700;
  }

  &.is-italic {
    font-style: italic;
  }
}

h4 {
  //Used in event section
  font-family: $font-secondary;
  font-size: 1.625; // 26px
  line-height: 1.625;
  font-weight: 300;
}

/* All Other Headers */
h5,
h6 {
  font-family: $font-secondary;
  font-weight: 400;
}

.testimonial-copy {
  font-family: $font-primary;
  font-size: 1.875rem; // 30px
  line-height: 45px;
  font-weight: 300;
  font-style: italic;
}

.testimonial-title {
  font-family: $font-primary;
  font-size: 55px;
  line-height: 50px;
  font-weight: 700;
  font-style: normal;
}

.testimonial-sub-title {
  font-family: $font-primary;
  font-size: 22px;
  line-height: 22px;
  font-weight: 500;
  font-style: normal;
}

//Body Text
.body-copy {
  font-size: 1; // 16px
  line-height: calc(1rem * 2);
  font-family: $font-primary;
  font-weight: 300;

  &.is-bold {
    font-weight: 700;
  }
}

/* Lead Text (hero) */
.lead-copy {
  font-size: 1.25rem; // 20px
  line-height: calc(1.25rem * 2);
  font-family: $font-primary;
  font-weight: 300;
}

/* Footer2 Text */
.small-copy {
  font-weight: 300;
  font-size: 15px;
  line-height: 20px;
  font-family: $font-primary;

  &.is-light {
    font-weight: 300;
  }

  &.is-bold {
    font-weight: 700;
  }
}

/* Text Modifiers */
.wrap-75 {
  width: 100%;
  max-width: 650px;
  margin: 0 auto;
}

input {
  font-family: $font-primary;
  font-weight: 300;
}




// Font Size Breakpoints
@media screen and (max-width: 768px) {
  // h1 {
  //   font-size: 200% !important;
  // }

  // h2 {
  //   font-size: 200%;
  // }

  // h1 {
  //   line-height: 2rem;
  // }

  // h2,
  // h3 {
  //   line-height: 2rem;
  // }
}